 body {
         background-color: rgb(235, 232, 107);

h2 {
        color: green;
        font-size: %;
}         
p{
        color: green;
}
h1{
        font-size: 230%;
}
p{
        font-size: 180%;
}
cite